<div>
	<md-list>
		<md-list-item layout="row" layout-align="start start">
			<div flex="15"></div>
			<div layout="column" layout-fill flex="85">
				<md-subheader class="md-no-sticky">19-25 jun</md-subheader>
			</div>
		</md-list-item>

		<md-list-item layout="row" layout-align="start start">
			<div flex="15">
				<div class="md-display-1">{{day.date.getDate()}}</div>
				<div class="md-body-2">{{day.label}}</div>
			</div>

			<div layout="column" layout-fill flex="85">
				<div class="calendar-event-inner" ng-repeat="event in day.allDayEvents track by $index">
					<div class="md-title">{{event.title}}</div>
					<div class="md-body-2">O dia todo</div>
				</div>
			</div>
		</md-list-item>

		<md-list-item layout="row" layout-align="start start">
			<div flex="15"></div>

			<div layout="column" layout-fill flex="85">
				<div class="calendar-event-inner" ng-repeat="event in day.events track by $index">
					<div class="md-title">{{event.title}}</div>
					<div class="md-body-2">{{event.startTime|date: formatHourColumn}} - {{event.endTime|date: formatHourColumn}}</div>
				</div>
			</div>
		</md-list-item>
	</md-list>
</div>