<div class="month-view">
	<div layout="column" layout-gt-sm="row">
		<div flex>
			<md-card
				id="calendar"
				sticky
				offset="0"
				media-query="min-width: 960px"
				class="event-inner"
				md-swipe-left='ctrl.moveMonth(1)'
				md-swipe-right='ctrl.moveMonth(-1)'>
				<md-card-header layout='row'
								layout-align="space-between center"
								sticky offset="0"
								media-query="max-width: 959px"
								sticky-class="sticked">
					<md-button
						class="md-icon-button"
						ng-click="ctrl.moveMonth(-1)"
						aria-label="Mês anterior">
						<md-icon md-svg-icon="md-tabs-arrow">«</md-icon>
					</md-button>
					<div flex></div>
					<h2 class="md-title">
						<span>{{ctrl.title}}</span>
					</h2>
					<div flex></div>
					<md-button
						class="md-icon-button"
						ng-click="ctrl.moveMonth(1)"
						aria-label="Mês seguinte">
						<md-icon md-svg-icon="md-tabs-arrow" class="moveNext"></md-icon>
					</md-button>
				</md-card-header>
				<md-divider></md-divider>
				<md-card-content>
					<md-grid-list md-cols="7"
								  md-row-height="3:1"
								  md-gutter="0px">
						<md-grid-tile md-rowspan="1"
									  md-colspan="1"
									  style="background: #fff"
									  ng-repeat="label in ctrl.labels track by $index">
							<small style="font-weight: bold;">{{label}}</small>
						</md-grid-tile>
					</md-grid-list>

					<md-grid-list md-cols="7"
								  md-row-height="1:1"
								  md-row-height-gt-xs="3:2"
								  md-gutter="0px">
						<md-grid-tile md-rowspan="1"
									  md-colspan="1"
									  ng-repeat="dt in ctrl.weeks[0].concat(ctrl.weeks[1])
																	.concat(ctrl.weeks[2])
																	.concat(ctrl.weeks[3])
																	.concat(ctrl.weeks[4])
																	.concat(ctrl.weeks[5]) track by dt"
									  ng-click="ctrl.select(dt)"
									  class="monthview-dateCell"
									  ng-focus="focus = true;"
									  ng-blur="focus = false;"
									  ng-mouseleave="hover = false"
									  ng-mouseenter="hover = true"
									  ng-class="{
					  			'md-whiteframe-8dp': hover || focus,
								'monthview-current': dt.current&&!dt.selected&&!dt.hasEvent,
								'monthview-secondary-with-event': dt.secondary&&dt.hasEvent,
								'monthview-secondary': dt.secondary,
								'monthview-selected': dt.selected,
								'lastDayOfWeek': (($index + 1) % 7) === 0
								}">
							<div ng-class="{'text-muted':dt.secondary}">
								<span class="date md-subheader">
									{{dt.label}}
								</span>
								<div ng-if="ctrl.showEventPins"
									 class="month-events"
									 ng-class="{ sm: ctrl.$mdMedia('gt-xs'),
												 md: ctrl.$mdMedia('gt-sm'),
												 lg: ctrl.$mdMedia('gt-md')}">
									<div class="month-event-pin left"
										 ng-style="{'background-color': event.color}"
										 ng-repeat="event in dt.events | orderBy : 'color' track by event.title"></div>
								</div>
							</div>
						</md-grid-tile>
					</md-grid-list>
				</md-card-content>
			</md-card>
		</div>
		<md-card id="day-events"
				 ng-if="ctrl.showEventList"
				 flex
				 md-swipe-left='ctrl.moveDay(1)'
				 md-swipe-right='ctrl.moveDay(-1)'
				 class="event-inner"
				 ng-class="{ md: ctrl.$mdMedia('gt-sm')}">
			<md-card-header layout='row'
							layout-align="space-between center"
							sticky
							offset="55"
							media-query="max-width: 959px"
							sticky-class="sticked">
				<md-card-header-text
					layout
					layout-align="center"
					layout-align-gt-sm="start">
					<span class="md-title">{{ctrl.selectedDate|date: ctrl.formatDay }}</span>
					<span class="md-subhead">{{ctrl.selectedDate|date: 'EEEE'}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-divider></md-divider>
			<md-card-content>
				<div ng-if="!ctrl.selectedDate.events">
					<p>Nenhum evento encontrado</p>
				</div>
				<div class="event-inner md-whiteframe-2dp md-padding"
					 ng-repeat="event in ctrl.selectedDate.events track by $index"
					 ng-style="{'background-color': event.color}">
					<div class="md-body-2">
						<strong>{{event.title}}</strong></div>
					<div class="md-body-2">{{event.startTime|date: ctrl.formatHourColumn}} - {{event.endTime|date: ctrl.formatHourColumn}}</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>