<div class="md-padding month-view">
	<div layout="column" layout-gt-sm="row">
		<div flex
			 flex-gt-sm="60"
			 flex-gt-lg="80"
			 md-swipe-left='moveMonth(1)' md-swipe-right='moveMonth(-1)'>
			<md-grid-list md-cols="7"
						  md-row-height="3:1"
						  md-gutter="0px">
				<md-grid-tile md-rowspan="1"
							  md-colspan="1"
							  ng-repeat="label in labels track by $index">
					<small style="font-weight: bold;">{{label}}</small>
				</md-grid-tile>
			</md-grid-list>

			<md-grid-list md-cols="7"
						  md-row-height="1:1"
						  md-row-height-gt-xs="3:2"
						  md-gutter="0px">
				<md-grid-tile md-rowspan="1"
							  md-colspan="1"
							  ng-repeat="dt in weeks[0].concat(weeks[1])
					  						  .concat(weeks[2])
					  						  .concat(weeks[3])
					  						  .concat(weeks[4])
					  						  .concat(weeks[5]) track by dt"
							  ng-click="select(dt)"
							  class="monthview-dateCell"
							  ng-focus="focus = true;"
							  ng-blur="focus = false;"
							  ng-mouseleave="hover = false"
							  ng-mouseenter="hover = true"
							  ng-class="{
					  			'md-whiteframe-12dp': hover || focus,
								'monthview-current': dt.current&&!dt.selected&&!dt.hasEvent,
								'monthview-secondary-with-event': dt.secondary&&dt.hasEvent,
								'monthview-secondary': dt.secondary,
								'monthview-selected': dt.selected,
								'lastDayOfWeek': (($index + 1) % 7) === 0
								}">
					<div ng-class="{'text-muted':dt.secondary}">
						<span class="date md-subheader">
							{{dt.label}}
						</span>
						<div ng-if="showEvents"
							 class="month-events"
							 ng-class="{ sm: $mdMedia('gt-xs'),  md: $mdMedia('gt-sm'), lg: $mdMedia('gt-md')}">
							<div class="month-event left"
								 md-colors="{background: 'primary-800'}"
								 ng-repeat="ev in dt.events track by ev.title"></div>
						</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</div>

		<md-list id="day-events"
				 ng-if="showEventsList && selectedDate.events"
				 flex
				 flex-gt-sm="40"
				 flex-gt-lg="20"
				 md-swipe-left='moveDay(1)'
				 md-swipe-right='moveDay(-1)'
				 ng-class="{ md: $mdMedia('gt-sm')}">

			<md-list-item layout="row"
						  layout-gt-sm="column"
						  layout-align="start stretch"
						  class="event">
				<div flex="15"
					 flex-gt-sm="100"
					 md-colors="{color: 'accent'}"
					 class="event-date-wrapper">
					<div hide show-gt-sm>
						<div class="event-date">{{selectedDate|date: 'dd EEE' }}</div>
					</div>
					<div hide-gt-sm
						 sticky
						 offset="60"
						 sticky-class="fixed">
						<div class="event-date">{{selectedDate|date: 'dd' }}</div>
						<div class="md-body-2">{{selectedDate.headerLabel}}</div>
					</div>
				</div>

				<div layout="column"
					 flex="85" flex-gt-sm="100">
					<div class="event-inner"
						 ng-repeat="event in selectedDate.events track by $index"
						 md-colors="{background: 'primary-600'}">
						<div class="md-body-2"><strong>{{event.title}}</strong></div>
						<div class="md-body-2">{{event.startTime|date: formatHourColumn}} - {{event.endTime|date: formatHourColumn}}</div>
					</div>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>