<div class="md-padding">

	<div layout="column" layout-gt-md="row">
		<div flex flex-gt-md="70" flex-gt-lg="80">
			<md-grid-list md-cols="7"
						  md-row-height="5:3"
						  md-row-height-gt-md="2:1"
						  md-gutter="0px">
				<md-grid-tile md-rowspan="1"
							  md-colspan="1"
							  ng-repeat="label in labels track by $index">
					<small>{{label}}</small>
				</md-grid-tile>
			</md-grid-list>

			<md-grid-list md-cols="7"
						  md-row-height="5:3"
						  md-row-height-gt-md="2:1"
						  md-gutter="0px">
				<md-grid-tile md-rowspan="1"
							  md-colspan="1"
							  ng-repeat="dt in rows[0].concat(rows[1])
					  						  .concat(rows[2])
					  						  .concat(rows[3])
					  						  .concat(rows[4])
					  						  .concat(rows[5])
					  						  .concat(rows[6]) track by dt.date"
							  ng-click="select(dt.date)"
							  class="monthview-dateCell"
							  ng-focus="focus = true;"
							  ng-blur="focus = false;"
							  ng-mouseleave="hover = false"
							  ng-mouseenter="hover = true"
							  ng-class="{
					  			'md-whiteframe-12dp': hover || focus,
								'monthview-current': dt.current&&!dt.selected&&!dt.hasEvent,
								'monthview-secondary-with-event': dt.secondary&&dt.hasEvent,
								'monthview-primary-with-event':!dt.secondary&&dt.hasEvent&&!dt.selected,
								'monthview-selected': dt.selected,
								'lastDayOfWeek': $index === 6
								}">
					<div ng-class="{'text-muted':dt.secondary}">
				<span class="date">
					{{dt.label}}
				</span>
					</div>
				</md-grid-tile>
			</md-grid-list>
		</div>
		<div ng-if="showEventDetail"
			 class="event-detail-container"
			 flex
			 flex-gt-md="30"
			 flex-gt-lg="20">
			<div class="scrollable" style="height: 200px">
				<table>
					<tr ng-repeat="event in selectedDate.events" ng-if="selectedDate.events">
						<td ng-if="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}}
							-
							{{event.endTime|date: 'HH:mm'}}
						</td>
						<td ng-if="event.allDay" class="monthview-eventdetail-timecolumn">All day</td>
						<td class="event-detail" ng-click="eventSelected({event:event})">{{event.title}}</td>
					</tr>
					<tr ng-if="!selectedDate.events">
						<td class="no-event-label">No Events</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>