<!DOCTYPE html>
<html ng-app="calendarDemoApp">
	<head lang="en">
		<title>AngularJS Responsive Calendar Demo</title>
		<meta charset="UTF-8">
		<meta name="description" content="AngularJS Responsive Calendar Demo">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
		<link rel="stylesheet" href="../dist/css/calendar.min.css"/>
	</head>
	<body>
		<div>
			<!--<md-toolbar>
				<header layout="column" class="md-padding">
					<div class="md-title">
						AngularJS Responsive Calendar
					</div>
					<div class="md-subhead">A pure AngularJS responsive calendar directive</div>
				</header>
			</md-toolbar>-->
			<section ng-controller="CalendarDemoCtrl" ng-init="loadEvents()">
				<section layout="row" class="md-padding">
					<md-button class="md-raised md-accent"
							   ng-class="{'md-small': $mdMedia('xs')}"
							   ng-click="today()"
							   ng-disabled="isToday()">Hoje
					</md-button>
					<md-button ng-class="{'md-small': $mdMedia('xs')}"
							   ng-click="showPins = !showPins">show Pins
					</md-button>
					<md-button ng-class="{'md-small': $mdMedia('xs')}"
							   ng-click="showEventList = !showEventList">show Event List
					</md-button>
				</section>
				{{currentDate}}
				<calendar ng-model="currentDate"
						  event-source="eventSource"
						  show-event-list="showEventList"
						  show-event-pins="showPins"
						  range-changed="reloadSource(startTime, endTime)"
						  event-selected="onEventSelected(event)"
						  time-selected="onTimeSelected(selectedTime)"></calendar>
			</section>

			<!-- Angular Material requires Angular.js Libraries -->
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

			<script src="../bower_components/ngSticky/dist/sticky.min.js"></script>
			<!-- Angular Material Library -->
			<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
			<script src="../dist/js/calendar-tpls.js"></script>
			<script src="calendarDemoCtrl.js"></script>
		</div>
	</body>
</html>
